.bouton {
    padding: 12px;
    font-family: "Menlo", monospace;
    font-weight: 100;
}

.lastminrtt {
    text-align: right;
    color: red;
}

.longeststate {
    stroke: black;
    stroke-width: 4.5px;
    stroke-miterlimit: 10;
}

.trendsbox {
    padding: 10px;
    min-width: 350px;
}

.outline {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}
.timeline {
    fill: none;
    stroke: #000000;
    stroke-width: 0.75;
    stroke-opacity: 0.4;
    stroke-miterlimit: 10;
}
.timeraster {
    fill:none;
    stroke: black;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}
.stateline {
    fill: none;
    stroke: #85a056;
    stroke-width: 3px;
    stroke-dasharray: 1 2;
    stroke-miterlimit: 10;
}

.anomaly {
    fill: none;
    stroke: #ff9600;
    stroke-width: 2.5;
    stroke-miterlimit: 10;
}
